#textdomain wesnoth-A_New_Order
[unit_type]
    id=City Militia
    name= _ "City Militia"
    race=human
    image="city-militia.png"
    ellipse="misc/ellipse"
    profile="portraits/humans/spearman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}

    [defend]
        [frame]
            begin=-150
            end=150
            image="city-militia-defend-2.png"
        [/frame]
    [/defend]
    hitpoints=32
    movement_type=smallfoot
    movement=5
    experience=42
    level=1
    alignment=lawful
    advances_to=null
	{AMLA_DEFAULT}
    cost=12
    usage=fighter
    description= _ "City militia is composed from citizens of Wesnothian towns. Their role is usually just policing the cities and guarding the walls."{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/humans/transparent/spearman.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/humans/transparent/spearman.png"
    [/portrait]

    {DEFENSE_ANIM city-militia.png city-militia.png {SOUND_LIST:HUMAN_HIT}}
    [defend]
        [frame]
            begin=-100
            end=-90
            image="city-militia-defend-2.png"
        [/frame]
        [frame]
            begin=-90
            end=90
            image="city-militia-defend.png"
        [/frame]
        [frame]
            begin=90
            end=100
            image="city-militia-defend-2.png"
        [/frame]
    [/defend]
    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=7
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [frame]
            begin=-100
            end=100
            image="city-militia-attack.png"
        [/frame]
    [/attack_anim]
[/unit_type]
