#textdomain wesnoth-A_New_Order
#
#  A New Order
#  Copyright (C) 2007, 2008 by Arkadiusz D. Danilecki 'szopen'
#  adanilecki at cs put poznan pl
#  current maintainer: Typhon Rhishisikk
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 2 of the License, or
#  (at your option) any later version.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
### define the campaign itself
# wmlindent: start ignoring
#define LDR_PATH
add-ons/A_New_Order#enddef
# wmlindent: stop ignoring

[textdomain]
    name="wesnoth-A_New_Order"
    path="data/{LDR_PATH}/translations"
[/textdomain]
# Data dir
# Export internal data to cache
[binary_path]
    path=data/{LDR_PATH}
[/binary_path]
[campaign]
    #textdomain wesnoth-A_New_Order
    id=A_New_Order
    name=_ "A New Order"
    abbrev=_ "ANO"
    version={~{LDR_PATH}/dist/VERSION}
    rank=12
    icon=akladian/hagarthen.png
    image=story_images/story_zima_grup.png
    first_scenario=01_Breaking_the_Circle
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT "akladian/akl-clanmember.png~TC(1,magenta)" _"Trivial"} + ";*" + {MENU_IMG_TXT "akladian/akl-warrior.png~TC(1,magenta)" _"Normal"} + ";" + {MENU_IMG_TXT "akladian/akl-shieldguard.png~TC(1,magenta)" _"Impossible"}
    define=ANEWORDER
    description= _ "The old kingdom of Wesnoth lies in ruins, while barbarians are ruling over the people dreaming about old legends. Can Gawen Hagarthen unite them all against the common danger?

Note: The campaign is not intended for underaged. It contains elements making it unsuitable for children. You have been warned.

(Intermediate level, 45 scenarios. requires 1.8)
(under heavy development, it may be buggy)
Version "+{~{LDR_PATH}/dist/VERSION}
    {~{LDR_PATH}/about.cfg}
[/campaign]

#ifdef ANEWORDER
#define USE_L3_OUTLAWS
#enddef

{./macros}
[+units]
    {./units}
[/units]
{./scenarios}
{./terrains}
#endif
#ifdef EDITOR
{~{LDR_PATH}/_editor.cfg}
#endif

