#textdomain wesnoth-A_New_Order
[scenario]
    name = _ "Epilogue"
    id=ano_29
    next_scenario=30_Final
    map_data="{~add-ons/A_New_Order/maps/Inside.map}"
    turns=1
    [story]
        [part]
            story=_"Who is here? Gawen? I hoped you would visit me, before I leave the Vattin forever.. I wish I could see you this last time... I want to tell you everything. You have to know.."
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"When I was still young, my family took me to the Oracle. I asked her about my future and I got the answer which I had not expected, and which greatly excited my family."
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"The Oracle said I would marry a Hagarthen, become a queen, and that I would bear a Hagarthen son. We.. my clan.. helped... somehow.. the prediction to be fulfilled... When I married your father, I was sure the Oracle was right."
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"But your father never called me to his bed, never even touched me. You have no idea how I hated him .. and you. And you have no idea about the dreams which were in my head then. And yet, I felt.. something strange about you. Always."
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"When your father was dead, I felt deceived, fooled. How can I have Hagarthen's son if he is dead?"
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"But then... I realized.. that the Oracle didn't say it would be the same Hagarthen I was married to. I was afraid of those thoughts, during all these moments when I cared for you when you were without consciousness almost two years ago. I tried to push those thoughts away, and .. anyway, you died.. I mean, I thought you were killed after the Barnon, and..."
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"But then.. we met again and.. you don't remember it, probably, but Ruvio once said - that Oracle's predictions will only be fullfilled if they would be helped.. So.. do you remember the night, the feast before we left searching for Deorien?"
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"I was drunk... And... Yaranov tried to stop me at corridor, maybe he thought that drinking some more wine would make him more attractive. I beat him senseless. Then I went to Karen's room, took her dancer's outfit..."
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"Yes, Gawen. This child.. it will be your first born son."
            background=story_images/gawen_slucha.png
        [/part]
        [part]
            story=_"I made a lot of evil in this world. I know I have no hope for redemption. If I would say that you are the child's father, this would mean another war. Breaking Akladian customs would surely cause Akladians abandon you. And.. I know I sinned in the eyes of our God. He has no mercy. He knows no forgiveness."
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"But I hope.. you will find a mercy in your heart. I know.. I cannot count for your love.. but.. maybe.. just maybe.. you will.. just touch me once, like you touched me that night... I will carry that touch with me, I will remember it when I will go into the exile with your child."
            background=story_images/gawen_slucha.png
        [/part]
        [part]
            story=_"Do not try to stop me. You know it is impossible. For the good of the Vakladia, your beloved Wesnoth, - I, Lorin, order you to forget about me and our child. Isn't that funny - me, Lorin, sacrificing herself for something as abstract as the idea as new, united nation? Look at me, I am laughing. I... I am laughing.... "
            background=story_images/lorin_opowiada.png
        [/part]
        [part]
            story=_"The moments are slowly turning into hours, as I am slipping into the darkness..."
        [/part]
        [part]
            story=_"It is said Gawen Hagarthen never smiled after the great battle. Some say he mourned the deaths of all good warriors who died fighting the undead menace. He married a Wesnothian princess from Elensefar. He united three Akladian kingdoms, while the fourth one - Guilcorta - became his fief. He made vassals of Aragwaithi sietches and most of the former Wesnothian kingdoms, uniting almost the whole of Wesnoth at its most glorious point."
        [/part]
        [part]
            story=_"It is also said that he never called his wife Mavourneen; he never treated her as husband should treat his wife. Whatever was true in that gossip, the fact remains that he died childless."
        [/part]
        [part]
            story=_"The elves believed that with his death the curse of Haldric which was put long ago upon the Wesnothians was finally relieved. Mithrandil, the only elf ever with wrinkles, finally died happy. "
        [/part]
        [part]
            story=_"Lorin and her son went among the sietches of Aragwaithi, searching for Andrey Yaranov. He took care of her and her child, raising him as if it was his own son."
        [/part]
        [part]
            story=_" This is the end of the story of Lorin from Gallorae and Gawen Hagarthen."
        [/part]
    [/story]
    {AFTERNOON}
    {PLACE_IMAGE (items/tron-fs.png) 7 1}
    {PLACE_IMAGE (items/redf-fs.png) 6 1}
    {PLACE_IMAGE (items/redf-fs.png) 8 1}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 3 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 5 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 7 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 9 4}
    {PLACE_IMAGE (items/krzeslo_facing_n.png) 11 4}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 3 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 5 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 7 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 9 6}
    {PLACE_IMAGE (items/krzeslo_facing_s.png) 11 6}
    {PLACE_IMAGE (items/castle-fire.png) 2 1}
    {PLACE_IMAGE (items/castle-fire.png) 12 1}
    {PLACE_IMAGE (items/vasa.png) 9 1}
    {PLACE_IMAGE (items/vasa.png) 5 1}
    [side]
        controller=human
        id=Gawen Hagarthen
        name=_"Gawen Hagarthen"
        type=Young Hagarthen
        team_name=good
        canrecruit=yes
        side=1
        recruit=Akladian Clanmember
    [/side]
    [event]
        name=start
        [endlevel]
            result=victory
            bonus=no
            carryover_report=no
            carryover_percentage=100
            linger_mode=no
            save=no
        [/endlevel]
    [/event]
[/scenario]
